 <div class="nav-bar-header">
        <div class="nav-inner">
            <ul class="nav-list">
                <li class="nav-item">
                    <span class="item">全部分类</span>
                    <div class="left-menu">
                        {volist name="cats" id="cat"}
                        <div class="level-item">
                            <div class="first-level">
                                <dl>
                                    <dt class="title"><a href="{:url('lists/index',['id'=>$key])}" target="_top">{$cat[0]}</a></dt>
                                    {volist name="cat[1]" id="vo" length='2'}
                                    <dd><a href="{:url('lists/index',['id'=>$vo.id])}" target="_top" class="">{$vo.name}</a></dd>
                                    {/volist}
                                </dl>
                            </div>
                            <div class="second-level">
                                <div class="section">
                                    <div class="section-item clearfix no-top-border">
                                        <h3>其他分类</h3>
                                        <ul>
                                            {volist name="cat[1]" id="vo"}
                                            <li><a href="{:url('lists/index',['id'=>$vo.id])}" target="_blank" class="">{$vo.name}</a></li>
                                            {/volist}
                                        </ul>
                                    </div>
                          
                                    
                                </div>
                            </div>
                        </div>
                        {/volist}
                    </div>
                </li>
                <li class="nav-item"><a class="item first active">首页</a></li>
                <li class="nav-item"><a class="item">团购</a></li>
                <li class="nav-item"><a class="item">商户</a></li>
            </ul>
        </div>
    </div>