{include file="public/_meta"}
<title>商户列表</title>
</head>
<nav class="breadcrumb">
	<i class="Hui-iconfont">&#xe67f;</i> 首页
	<span class="c-gray en">&gt;</span>
	商家管理
	<span class="c-gray en">&gt;</span>
	商户列表
	<a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);"
	    title="刷新">
		<i class="Hui-iconfont">&#xe68f;</i>
	</a>
</nav>
</div>
<div class="page-container">
	<div class="text-c">
		<input type="text" name="" id="" placeholder="栏目名称、id" style="width:250px" class="input-text">
		<button name="" id="" class="btn btn-success" type="submit">
			<i class="Hui-iconfont">&#xe665;</i> 搜索</button>
	</div>

	<div class="mt-20">
		<table class="table table-border table-bordered table-hover table-bg table-sort">
			<thead>
				<tr class="text-c">
					<th width="25">
						<input type="checkbox" name="" value="">
					</th>
					<th width="80">ID</th>
					<th width="100">门店名称</th>
					<th width="60">申请时间</th>
					<th width="60">状态</th>
					<th width="100">操作</th>
				</tr>
			</thead>
			<tbody>
				{volist name="location" id='vo'}
				<tr class="text-c">
					<td>
						<input type="checkbox" name="" value="">
					</td>
					<td>{$vo.id}</td>
					<td>{$vo.name}</td>
					<td class="text-l">{$vo.create_time}</td>
					<td>{$vo.status|status}</td>
					<td class="f-14">
						<a title="查看详情" href="javascript:;" onclick="system_category_edit('栏目编辑','{:url(\'location/detail\',[\'id\'=>$vo.id])}','1','900','480')"
						    style="text-decoration:none">
							<i class="Hui-iconfont">查看详情</i>
						</a>
						<a title="删除" href="javascript:;" onclick="system_category_del('{:url(\'location/status\',[\'id\'=>$vo.id,\'status\'=>-1])}')"
						    class="ml-5" style="text-decoration:none">
							<i class="Hui-iconfont">&#xe6e2;</i>
						</a>
						<a title="不通过" href="{:url('location/status',['id'=>$vo.id,'status'=>2])}" class="ml-5" style="text-decoration:none">
							<i class="Hui-iconfont">不通过</i>
						</a>
					</td>
				</tr>
				{/volist}
			</tbody>
		</table>
	</div>
</div>
<!--分页-->
{:pagination($location)}
<!--_footer 作为公共模版分离出去-->
{include file="public/_footer"}
<!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__STATIC__/admin/hui/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="__STATIC__/admin/hui/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="__STATIC__/admin/hui/lib/laypage/1.2/laypage.js"></script>
<script type="text/javascript" src="__STATIC__/admin/js/common.js"></script>
<script type="text/javascript">
	$('.table-sort').dataTable({
		"aaSorting": [
			[1, "desc"]
		], //默认第几个排序
		"bStateSave": true, //状态保存
		"aoColumnDefs": [
			//{"bVisible": false, "aTargets": [ 3 ]} //控制列的隐藏显示
			{
				"orderable": false,
				"aTargets": [0, 4]
			} // 制定列不参与排序
		]
	});
	/*系统-栏目-添加*/
	function system_category_add(title, url, w, h) {
		layer_show(title, url, w, h);
	}
	/*系统-栏目-编辑*/
	function system_category_edit(title, url, id, w, h) {
		layer_show(title, url, w, h);
	}
	/*系统-栏目-删除*/
	function system_category_del(url) {
		layer.confirm('确认要删除吗？', function (index) {
			window.location.href = url;
		});
	}
</script>

<script>
	var SCOPE = {
		"listorder_url": "{:url('category/listorder')}"
	}
</script>
</body>

</html>